<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.dsergio.android.test"
    android:versionCode="1"
    android:versionName="1.0"
    >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="it.dsergio.android.test.FirstAccessActivity" />
        <activity android:name="it.dsergio.android.test.MainActivity" />
        <activity
            android:name="it.dsergio.android.test.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="it.dsergio.android.test.LoginActivity"
            android:label="@string/login_activity_label">
            <intent-filter>
                <action android:name="uk.co.massimocarli.android.ugho.action.LOGIN_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
